.container

{
    background-image: url(./images/images\ \(10\)\ \(1\).jpeg);
    width: 370px;
    height: 450px;
    text-align: center;
    margin-top : 70px auto;
    border-radius: 20px;
    padding: 20px;
    
  
    
}
.container img
{
    width: 50%;
    border-radius: 50%;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    
    

}
.container h1
{
    font-size: 30px;
    font-weight: 200px;
    text-align: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
   
}
.container h1:hover
{
    color: #aaa;
}
.container p
{
    font-size: 15px;
    font-weight: 100px;
    text-align: center;
    color: #aaa;
}
.container button
{
    border-radius: 40px;
     align-items: center;
     justify-content: center;
     margin-left: auto;
     margin-right: auto;
     display: flex;
}
.container button:hover
{
    color: #111;
}
.container i
{
     color:#aaa;
    font-size: 20px;
 padding-right: 10px;
 padding-left:20px ;
 margin-top: 20px;
 margin-bottom: 20px;
}
.container i:hover
{
    color: #fff;
}
.switch
{
    text-align: right;
    margin-right: 80px;
}
.switch .btn
{
    border-radius: 30px;
    font-size: 15px;
    margin-top: 20px;
  
}
.switch .btn:hover
{
    color: #111;
}
@media (max-width: 768px) {
    body
    {
        padding-left: 0rem;
        padding-right: 1.3rem;
       
       
    }
  
      .container {
        width: 100%;
        height: auto ; 
        margin-top: 20px ; 
        padding: 20px ;
        margin-bottom: 20px ;
        margin-left: 10px;
        
        

    }

    .container img 
    {
        width: 70% ; 
    }

    .container h1 
    {
        font-size: 20px ;
    }

    .container p
     {
        font-size: 14px ;
    }

    .container button
     {
        font-size: 14px ; 
        padding: 8px 16px ; 
    }

    .container i
     {
        font-size: 13px ;
        margin-top: 5px ; 
        margin-bottom: 5px ;
    }

    .switch {
        margin-right: 20px; 
    }
}