.container

{
    background-image: url(./images/images\ \(10\)\ \(1\).jpeg);
    width: 370px;
    height: 450px;
    text-align: center;
    margin-top : 70px auto;
    border-radius: 20px;
    padding: 20px;
    
  
    
}
.container img
{
    width: 50%;
    border-radius: 50%;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    
    

}
.container h1
{
    font-size: 30px;
    font-weight: 200px;
    text-align: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
   
}
.container h1:hover
{
    color: #aaa;
}
.container p
{
    font-size: 15px;
    font-weight: 100px;
    text-align: center;
    color: #aaa;
}
.container button
{
    border-radius: 40px;
     align-items: center;
     justify-content: center;
     margin-left: auto;
     margin-right: auto;
     display: flex;
}
.container button:hover
{
    color: #111;
}
.container i
{
     color:#aaa;
    font-size: 20px;
 padding-right: 10px;
 padding-left:20px ;
 margin-top: 20px;
 margin-bottom: 20px;
}
.container i:hover
{
    color: #fff;
}
.switch
{
    text-align: right;
    margin-right: 80px;
}
.switch .btn
{
    border-radius: 30px;
    font-size: 15px;
    margin-top: 20px;
  
}
.switch .btn:hover
{
    color: #111;
}
@media (max-width: 768px) {
   
      .container {
        width: 100% !important;
        height: auto !important; 
        margin-top: 20px !important; 
        padding: 20px !important;
        margin-bottom: 20px !important;
        margin-right: 10px !important;
        
        

    }

    .container img 
    {
        width: 70% !important; 
    }

    .container h1 
    {
        font-size: 24px !important;
    }

    .container p
     {
        font-size: 14px !important;
    }

    .container button
     {
        font-size: 14px !important; 
        padding: 8px 16px !important; 
    }

    .container i
     {
        font-size: 18px !important;
        margin-top: 5px !important; 
        margin-bottom: 5px !important;
    }

    .switch {
        margin-right: 20px !important; 
    }
}